<section class="step-1">
  <div class="number">
    <span class="value">1</span>
    <span class="label">
      <span>STEP</span>
      <h5 class="color-blue">Your wallet</h5>
    </span>
    <div class="wallet-balance">
      <h5 class="color-gray">Balance</h5>
      <input type="text" class="bcg-yellow" placeholder="0" [(ngModel)]="source.balance" disabled>
    </div>
  </div>
  <div class="content">
    <input type="button" class="bcg-blue new-contract--next-btn" [hidden]="step == 'step2' || step == 'step3'" (click)="saveStep()" value="Next">
    <div  class="content-wrapper">
      <div class="wallet-input">
        <h5 class="color-blue">Your wallet</h5>
        <input type="text" [(ngModel)]="source.wallet" placeholder="enter wallet" (ngModelChange)="handleSource(true)">
        <div class="wrapper" *ngIf="spinner">
          <div class="cssload-loader"></div>
        </div>
      </div>
      <div class="wallet-amount">
        <h5 class="color-gray">Amount</h5>
        <div class="wallet-amount--controls">
          <input type="text" class="bcg-yellow" placeholder="0" [(ngModel)]="source.amount" (ngModelChange)="handleSource(false)">
          <!--<div class="dropdown">-->
            <!--<span>selected value</span>-->
            <!--<ul>-->
              <!--<li>ETH</li>-->
              <!--<li>BTC</li>-->
              <!--<li>$</li>-->
            <!--</ul>-->
          <!--</div>-->
        </div>
      </div>
      <div class="wallet-balance">
        <h5 class="color-gray">Balance</h5>
        <input type="text" class="bcg-yellow" placeholder="0" [(ngModel)]="source.balance" disabled>
      </div>
    </div>
    <!--<div class="add-wallet-btn" (click)="addWallet()">-->
      <!--+-->
    <!--</div>-->
  </div>
</section>
