<section class="new-contract">
  <div class="step-wrapper" [hidden]="step == 'contract'">
    <app-step-1 (sourceUpdated)="handleSourceUpdated($event)" (nextStep)="handleStepUpdated($event)"></app-step-1>
  </div>
  <div class="step-wrapper" [hidden]="step == 'step1' || step == 'contract'">
    <app-step-2 (destinyUpdated)="handleDestinyUpdated($event)" [wallet]="sourceWallet" (nextStep)="handleStepUpdated($event)"></app-step-2>
  </div>
  <div class="step-wrapper" [hidden]="step == 'step1' || step=='step2' || step == 'contract'">
    <app-step-3 (conditionsUpdated)="handleConditionsUpdated($event)"
                [wallet]="sourceWallet"
                (nextStep)="handleStepUpdated($event)"
                (contractCreated)="handleContractCreated($event)"
    ></app-step-3>
  </div>
  <!--<div class="step-wrapper">-->
    <!--<app-step-2 (destinyUpdated)="handleDestinyUpdated($event)" [wallet]="sourceWallet" (nextStep)="handleStepUpdated($event)"></app-step-2>-->
  <!--</div>-->
  <!--<div class="step-wrapper">-->
    <!--<app-step-3 (conditionsUpdated)="handleConditionsUpdated($event)" [wallet]="sourceWallet" (nextStep)="handleStepUpdated($event)"></app-step-3>-->
  <!--</div>-->
  <div class="step-wrapper" [hidden]="step != 'contract'">
    <app-step-4 [contract]="resultContract"></app-step-4>
  </div>
</section>
